@import url(normalize.css);
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  25% {
    opacity: 1; }

  100% {
    opacity: 0; } }

body #map {
  filter: grayscale(75%);
  -webkit-filter: grayscale(75%);
  -moz-filter: grayscale(75%);
  -o-filter: grayscale(75%);
  -ms-filter: grayscale(75%); }

.hide-main #map {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none; }
.hide-main .cover,
.hide-main .main {
  display: none; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: "proxima-nova", "proxima nova", sans-serif;
  color: #666; }

a {
  color: #4d8cd2; }
  a:hover {
    color: #68c14d; }

.error {
  color: red;
  text-shadow: 0 1px 1px #fff; }

.center {
  text-align: center; }

.btn {
  padding: 14px 28px;
  background: #68c14d;
  display: inline-block;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px; }
  .btn:hover {
    background-color: #4d8cd2;
    color: #fff; }

.btn-facebook {
  background-image: url("/assets/facebook-icon.png");
  background-size: 9px 20px;
  background-repeat: no-repeat;
  background-position: 22px center;
  padding-left: 50px; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.top-info {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 11; }
  .top-info a {
    color: #fff;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 12px;
    opacity: 0; }
    .top-info a:hover {
      opacity: 1; }

.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(77, 140, 210, 0.5); }

.title {
  font-weight: 200;
  font-size: 24px;
  color: #777;
  margin: 10px 0 5px 0;
  letter-spacing: 0.5px;
  color: #4d8cd2; }

.sub-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 0 0 10px 0; }

.main {
  position: absolute;
  max-width: 96%;
  width: 360px;
  background-color: #fff;
  background-color: white;
  left: 50%;
  top: 15%;
  margin-left: -180px;
  position: absolute;
  z-index: 10;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11); }

.row {
  border-top: solid 1px #d7d7d7;
  padding: 20px 10px; }
  .row:first-child {
    border-top: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
  .row:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px; }

.light-bg {
  background-color: #f9f9f9; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.continue-row {
  padding: 10px 20px;
  display: none; }

.continue-link {
  font-size: 14px;
  margin: 0;
  font-variant: small-caps; }
  .continue-link a {
    text-decoration: none; }

.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
  -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
  transition: transform 0.2s ease-out, opacity 0.2s ease-in; }

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.8); }

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.8); }

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.8); }

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.8); }

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.8); }

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.8); }

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px; }

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
  font-size: 12px; }

.marker-cluster span {
  line-height: 30px; }

.content {
  line-height: 1.5;
  font-size: 14px; }
  .content p {
    margin-bottom: 15px;
    margin-top: 0; }
    .content p:last-child {
      margin-bottom: 0; }

.form {
  text-align: left; }
  .form label {
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 12px; }
  .form input:not([type="submit"]),
  .form textarea {
    width: 100%;
    padding: 10px;
    border: solid 1px #cacaca;
    border-radius: 3px; }
    .form input:not([type="submit"]):focus,
    .form textarea:focus {
      border: solid 1px #76a6dc;
      box-shadow: 0 0 3px #4d8cd2;
      outline: 0; }
  .form textarea {
    padding: 10px;
    min-height: 80px;
    font-size: 14px;
    font-family: "proxima-nova", "proxima nova", sans-serif;
    line-height: 1.33333333; }
  .form fieldset {
    margin-bottom: 20px;
    margin-top: 0;
    border: 0;
    padding: 0 5px 0 5px; }
    .form fieldset:last-child {
      margin-bottom: 0; }
  .form input[type="submit"] {
    border: 0;
    border-radius: 3px;
    outline: none; }
