@-webkit-keyframes fade-out {
    0% { opacity: 1; }
    25% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}


.fade-in {
    -webkit-animation: fade-in .5s;
    -moz-animation-name: fade-in .5s;
    -ms-animation-name: fade-in .5s;
    -o-animation-name: fade-in .5s;
    animation-name: fade-in .5s;
}



.cover,
.main {
    // -webkit-animation: fade-out .25s;
    // -moz-animation-name: fade-out .25s;
    // -ms-animation-name: fade-out .25s;
    // -o-animation-name: fade-out .25s;
    // animation-name: fade-out .25s;
}

body {
  #map {
      filter: grayscale(75%);
      -webkit-filter: grayscale(75%);
      -moz-filter: grayscale(75%);
      -o-filter: grayscale(75%);
      -ms-filter: grayscale(75%);
  }
}

.hide-intro {

    .top-info-header {
      display: block;
    }

    #map {
        filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        -ms-filter: none;
    }

    .main {
      display: none;
    }
}

.cover {
    display: none;
}

.cover-open {
    .cover {
        display: block;
    }
}



