.main-open {
    .top-info {
        display: none;
    }
}


.big-content {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    max-height: 100%;
    border-radius: 3px;
    display: none;
    z-index: 14;
    text-align: center;

    .main-open & {
        display: block;
    }
}

.friends-title {
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

    .friend-container {
        display: inline-block;
        width: 25%;
        margin: 0 10px 20px 10px;
        cursor: pointer;
        padding: 9px 5px;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 5px rgba(0,0,0,.11);

        display: none;
        &:hover {
            position: relative;
            top: 1px;
            .friend-name {
                color: $green;
            }
        }
        &.friend-selected {
            position: relative;
            top: 1px;
            background-color: $blue-dark;
            .friend-name {
                color: #fff;
            }
            .friend-info {
                color: #fff;
            }
            .avatar {
                // box-shadow: inset 1px 1px 3px rgba(0,0,0,.5);
            }
        }
        &.friend-visible {
            display: inline-block;
            @extend .fade-in;
        }
    }

        @for $i from 0 through 5 {
            .friend-#{$i} {
                // display: inline-block;
            }
        }

        @for $i from 6 through 100 {
            .friend-#{$i} {
                display: none;
            }
        }


    .avatar-wrap {
        width: 30%;
        text-align: center;
        display: inline-block;
        margin-right: 5px;
        vertical-align: middle;
    }

        .avatar {
            @extend .cover-all;
            width: 55px;
            height: 55px;
            background-position: center center;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            margin: 0 auto;
            // box-shadow: 1px 1px 2px rgba(0,0,0,.33);
        }

    .friend-info {
        display: inline-block;
        text-align: left;
        width: 65%;
        vertical-align: middle;
    }

        .friend-name {
            font-size: 16px;
            color: $blue-dark;
            margin: 0 0 5px 0;
        }

        .location-name {
            font-size: 13px;
            margin: 0;
        }