* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: $font-primary;
    color: #666;
}


a {
    color: $blue-dark;
    &:hover {
        color: $green;
    }
}

.error {
    color: red;
    text-shadow: 0 1px 1px #fff;
}

.center {
    text-align: center;
}

.btn {
    padding: 14px 28px;
    background: $green;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    &:hover {
        background-color: $blue-dark;
        color: #fff;
    }
}

.btn-facebook {
    background-image: url('/assets/facebook-icon.png');
    background-size: 9px 20px;
    background-repeat: no-repeat;
    background-position: 22px center;
    padding-left: 50px;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.top-info {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 11;
    background-color: #fff;
    background-color: rgba(255,255,255,0.9);
    border-bottom-left-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.11);
    padding: 10px 20px;
}

  .top-info-header {
      display: none;
      text-align: center;
  }

    .top-info-title {
        font-weight: 200;
        font-size: 22px;
        color: #777;
        margin: 0 0 0 0;
        letter-spacing: 0.5px;
        color: $blue-dark;
    }

    .top-info-sub-title {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        margin: 0 0 0 0;
    }

.bottom-info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 11;
    a {
        color: #fff;
        text-decoration: none;
        font-variant: small-caps;
        font-size: 12px;
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba($blue-dark,0.5);
}

.title {
    font-weight: 200;
    font-size: 24px;
    color: #777;
    margin: 10px 0 5px 0;
    letter-spacing: 0.5px;
    color: $blue-dark;
}

    .sub-title {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 12px;
        margin: 0 0 10px 0;
    }


.main {
    position: absolute;
    max-width: 96%;
    width: 360px;
    background-color: #fff;
    background-color: rgba(255,255,255,1);
    left: 50%;
    top: 15%;
    margin-left: -180px;
    position: absolute;
    z-index: 10;
    text-align: center;
    //border: solid 1px darken($blue-dark,1%);
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.11);
}

.row {
    border-top: solid 1px $gray-light;
    padding: 20px 10px;
    &:first-child {
        border-top: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    &:last-child {
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

    .light-bg {
        background-color: #f9f9f9;
    }
