* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "proxima nova", sans-serif;
}


a {

}

.btn {
    padding: 14px 28px;
    background: darken($blue-dark,10%);
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
    &:hover {
        background-color: $green;
    }
}

.btn-facebook {
    background-image: url('/assets/facebook-icon.png');
    background-size: 9px 20px;
    background-repeat: no-repeat;
    background-position: 22px center;
    padding-left: 50px;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.top-info {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 11;
    a {
        color: #fff;
        text-decoration: none;
        font-variant: small-caps;
    }
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba($blue-dark,0.8);
}


.main {
    position: absolute;
    max-width: 90%;
    min-width: 400px;
    background-color: #fff;
    background-color: rgba(255,255,255,1);
    left: 50%;
    top: 15%;
    margin-left: -200px;
    position: absolute;
    z-index: 10;
    text-align: center;
    border: solid 1px darken($blue-dark,1%);
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.11);
}

.row {
    border-top: solid 1px #d7d7d7;
    padding: 20px 0;
    &:first-child {
        border-top: 0;
    }
}