.continue-row {
    padding: 10px 20px;
    // text-align: right;
    display: none;
}

    .continue-link {
        font-size: 14px;
        margin: 0;
        font-variant: small-caps;
        a {
            text-decoration: none;
        }
    }